<H1 class="center">{{welcome}}</H1>
<div class="container">
    <button type="button" routerLink="/devops">devops</button>
<!-- <app-test></app-test> -->


    <!-- <button type="button" routerLink="/admin">admin</button>
    <button type="button" routerLink="/sql">sql</button>
    <button type="button" routerLink="/angular">Angular</button>
    <button type="button" routerLink="/devops">devops</button>
    <button type="button" routerLink="">Home</button> -->
  </div>
     <app-export-excel></app-export-excel>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
